body{
    background-color: aquamarine;
}


.titulo{
    background-color: red;
    color: white;
    text-align: center;
    padding: 2px;
}

.n{
     
    text-align: center;
    margin-top: 150px;
    
    
}

.n1>input{
    
    width: 350px;
    height: 20px;
    margin-bottom: 20px;
    background-color: blue;
    border-style: none;
    color: white;
}
.n2>input{
    
    width: 350px;
    height: 20px;
    border-style: none;
    background-color: red;
    color: white;
}
.resul>input{
    
    width: 350px;
    height: 20px;
    border-style: none;
    background-color: green;
    margin-top: 20px;
    margin-bottom: 20PX;
    color: white;
}

